<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simulador Credinomina Empleados BdV</title>
		<link rel="stylesheet" href="css\bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.JPG">
	</head>
	<body>
		<!-- <div class="alert alert-danger text-center" role="alert">
			<strong>¡Base de datos no actualizada!</strong>
		</div>	 -->

		<div class="jumbotron">
			<img src="img/logo_bdv.jpg">
			<h1 class="text-center">Simulador Credinómina Empleados BdV</h1>
		</div>

		<div class="container">
			<div class="row">
				<h2 class="text-center">Empleado no encontrado</h2>
				<p>Lo sentimos, el empleado <strong><%= data %></strong> no pudo ser encontrado, por favor revisar que introdujo bien la cédula. Gracias.</p>
			</div>
			<a href=""><button class="btn btn-secondary">Volver al inicio</button></a>
		</div>



		<script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
