<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simulador Credinomina Empleados BdV</title>
		<link rel="stylesheet" href="css\bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.JPG">
	</head>
	<body>
		<!-- <div class="alert alert-danger text-center" role="alert">
			<strong>¡Base de datos no actualizada!</strong>
		</div>	 -->

		<div class="jumbotron">
			<img src="img/logo_bdv.jpg">
			<h1 class="text-center">Simulador Credinomina Empleados BdV</h1>
		</div>

		<div class="container">
			<div class="row text-center">
				<h2 class="text-center">Cédula no encontrada</h2>
				<h5 class=" mt-4 ml-4 mr-4">Lo sentimos, la cédula <strong><%= data %></strong> no pudo ser encontrada, por favor revisar que la introdujo bien e intente de nuevo. Gracias.</h5>
			</div>
			<div class="mt-4">
				<a href="/simulador_empleado"><button class="btn btn-secondary">Volver al inicio</button></a>
				<a href="/"><button class="btn btn-primary"><i class="fa fa-home"></i> Página principal</button></a>
			</div>
		</div>



		<script src="js/jquery.slim.min.js"></script>
    	<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
