<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Simulador Creditos BdV</title>
		<link rel="stylesheet" href="css\bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="shortcut icon" href="img/icon.JPG">
	</head>
	<body>
		<div class="jumbotron text-center color-banco" id="tope">
			<img src="img/icon.jpg" class="img-thumbnail">
			<h1>Simulador Créditos BdV</h1>
		</div>

		<div class="modal fade" role="dialog" id="presentacion">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header color-banco">
		      	<img src="img/icon.JPG" class="img-thumbnail">
		        <h4 class="modal-title">Crédito Evaluado</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body text-center">
		        <h5><span id="credinomina_simulado"></span></h5>
		      	<p><strong>Plazo mensual: </strong> <span id="plazo_final"></span> meses</p>
		      	<p><strong>Tasa de interes anual: </strong> <span id="interes_final"></span>%</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-banco" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Simular de nuevo</button>
		        <a href="/"><button type="button" class="btn btn-banco"><i class="fa fa-home"></i> Inicio</button></a>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="container">			
				<div class="form-group row">
					<label for="operacion" class="col-3 col-lg-3 col-md-6 col-form-label">Seleccione tipo de operación</label>
					<div class="dropdown col-3 col-md-6 col-lg-3">
						<button class="btn btn-secondary dropdown-toggle btn-outline-secondary" type="button" id="tipoOperacion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    Tipo de Operación
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<label class="dropdown-item"><input type="radio" name="operacion" href="#" id="credCliente" value="cliente" required>Credinómina Cliente</label>
							<label class="dropdown-item"><input type="radio" name="operacion" href="#" id="credEmpleado" value="empleado">Credinómina Empleado</label>	
							<label class="dropdown-item"><input type="radio" name="operacion" href="#" id="credPersonal" value="personal">Credipersonal</label>
						</div>
					</div>
				</div>

				<!-- Para credinomina -->
				<div id="forma-credinomina">
					<div class="form-group row">
						<label for="monto_solicitado" class="col-3 col-lg-3 col-md-6">Monto Solicitado</label>
						<div class="input-group col-3 col-lg-3 col-md-6">						
							<div class="input-group-prepend">
							  	<div class="input-group-text">Bs.</div>
							</div>
						    <input type="number" class="form-control" id="monto_solicitado" value="" autocomplete="off" required>
						</div>
					</div>					
					<div class="form-group row">
						<label for="plazo_solicitado" class="col-3 col-lg-3 col-md-6">Plazo Mensual</label>
						<div class="form-group col-1 col-lg-1 col-md-6">	
						    <input type="number" class="form-control" id="plazo_solicitado" value="12" autocomplete="off" max="60" min="1">
						</div>
					</div>
					<div class="form-group row">
						<label for="interes_anual" class="col-3 col-lg-3 col-md-6">Tasa de Interés Anual</label>
						<div class="dropdown col-3 col-md-6 col-lg-3 btn-group input-group">
							<button class="btn dropdown-toggle btn-outline-secondary" type="button" id="selTasa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">24</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<label class="dropdown-item"><input type="radio" name="tasa" href="#" id="tasa24" value="24" active>24</label>
								<label class="dropdown-item"><input type="radio" name="tasa" href="#" id="tasa14" value="14">14</label>	
								<label class="dropdown-item"><input type="radio" name="tasa" href="#" id="tasa12" value="12">12</label>
							</div>
							<div class="input-group-append">
							  	<div class="btn input-group-text">%</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="endeudamiento_max" class="col-3 col-lg-3 col-md-6">% Endeudamiento máximo</label>
						<div class="input-group col-2 col-lg-2 col-md-6">		
						    <input type="number" class="form-control" id="endeudamiento_max" value="35" autocomplete="off" readonly>
						    <div class="input-group-append">
							  	<div class="input-group-text">%</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="ingresos_cliente" class="col-3 col-lg-3 col-md-6">Ingresos de cliente</label>
						<div class="input-group col-3 col-lg-3 col-md-6">						
							<div class="input-group-prepend">
							  	<div class="input-group-text">Bs.</div>
							</div>
						    <input type="number" class="form-control" id="ingresos_cliente" value="" autocomplete="off" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="cargas_financieras" class="col-3 col-lg-3 col-md-6">Cargas Financieras</label>
						<div class="input-group col-lg-3 col-lg-3 col-md-6">						
							<div class="input-group-prepend">
							  	<div class="input-group-text">Bs.</div>
							</div>
						    <input type="number" class="form-control" id="cargas_financieras" value="" autocomplete="off" required>
						</div>
					</div>
				</div><!--fin forma credinomina cliente-->
				
				<div id="forma-credipersonal" class="text-center m-4">
					<h3> <i class="fa fa-warning text-warning"></i> Simulador en construcción <i class="fa fa-warning text-warning"></i> </h3>
				</div>
				

				<div class="form-group">
					<button class="btn btn-banco" type="submit" id="calcular" value="send"><i class="fa fa-calculator"></i> Calcular</button>
				</div>			
		</div>

		<div class="container text-center">
			<a href="/"><button class="btn btn-banco mt-4"><i class="fa fa-home"></i> Página principal</button></a>
		</div>

		<script src="js/jquery.min.js"></script>
    	<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
